<h2>
    <%= @category.title %>
</h2>
<div class="row my-5">
    <% @category.topics.each do |topic| %>
        <div class="col-12 col-md-6 col-xl-4">
            <h3>
                <%= topic.title %>
            </h3>
            <ul>
                <% topic.resources.each do |resource|%>
                <li>
                    <% if !resource.source.nil? %>
                        <button type="button" class=" mr-1 px-1 py-0 btn btn-outline-<%= resource.source.color %> btn-sm mb-1" data-container="body" data-toggle="popover" data-placement="left" data-content="<%= resource.source.title %>">
                            <small><%= resource.source.abbr %></small>
                        </button>
                    <% end %>
                    <%= link_to resource.title, resource.url, target: "_blank" %>
                </li>
                <% end %>
            </ul>
        </div>
    <% end %>
</div>