<% provide(:title, @category.title) %>
<div class="container-fluid">
    <div class="row">
        <div class="<%= common_sizing %> mt-3 bg-red3 text-grey0 rounded-top">
            <h1 class="text-center">Rails Resource</h1>
        </div>

        <div class="<%= common_sizing %> py-3 bg-grey0">
            <%= render 'main/navbuttons' %>
        </div>
        <div class="<%= common_sizing %> py-3 bg-grey1">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1">
                <%= render 'main/search' %>
            </div>
        </div>
        <div class="<%= common_sizing %> px-3 px-md-5 py-3 bg-grey0">
            <%= render 'main/datadisplay' %>
            <%= render 'main/navbuttons' %>
        </div>

        <div class="<%= common_sizing %> mb-3 bg-red3 rounded-bottom d-flex justify-content-center py-1">
        <% if !admin? %>
            <%= link_to 'Log in', session_new_path, class: 'btn btn-sm btn-info' %>
        <% end %>
        </div>
    </div>
</div>