<%= content_for :body do %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @source.title %>
  </p>

  <p>
    <strong>Abbr:</strong>
    <%= @source.abbr %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= @source.color %>
  </p>

  <%= link_to 'Edit', edit_source_path(@source) %> |
  <%= link_to 'Back', sources_path %>
<% end %>

<%= render 'layouts/small_page' %>