<%= content_for :body do %>
    <h1>Editing Topic</h1>

    <%= render 'form', topic: @topic %>

    <%= link_to 'Show', @topic %> |
    <%= link_to 'Back', topics_path %>
<% end %>

<%= render 'layouts/small_page' %>