<%= content_for :body do %>
    <h1>Editing Resource</h1>

    <%= render 'form', resource: @resource %>

    <%= link_to 'Show', @resource %> |
    <%= link_to 'Back', resources_path %>
<% end %>

<%= render 'layouts/small_page' %>