<%= content_for :body do %>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Title:</strong>
      <%= @resource.title %>
    </p>

    <p>
      <strong>Url:</strong>
      <%= @resource.url %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @resource.description %>
    </p>
    <p>
      <strong>Topic:</strong>
      <%= @resource.topic.long_title unless @resource.topic.nil? %>
    </p>
    <p>
      <strong>Source:</strong>
      <%= @resource.source.title unless @resource.source.nil? %>
    </p>

    <%= link_to 'Edit', edit_resource_path(@resource) %> |
    <%= link_to 'Back', resources_path %>
<% end %>

<%= render 'layouts/small_page' %>